.proof {}
div.proof:after {
  content: "\25A2";
  float: right;
  margin-top: -3.4rem;
}

.rmenv,
.itenv {
  padding-left: 0.75em;
  margin-bottom: 1.5em;
  border-left: 1px solid #007481;
}

.itenv {
  font-style: italic;
}
.itenv em {
  font-style: normal !important;
}

.itenv:before,
.rmenv:before {
  content: attr(title)".";
  font-style: normal;
  font-weight: 600;
  padding-right: 0.5em;
  display: inline;
}

.itenv > p:first-of-type,
.rmenv > p:first-of-type {
  margin-top: 0 !important;
  display: inline;
}

.itenv > :last-child,
.rmenv > :last-child {
  margin-bottom: 0 !important;
}

.tikzcd {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.upside-down {
  transform: scaleY(-1);
}

div.c-set table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}
div.c-set thead tr:first-of-type > th {
  text-align: center;
  background: #eae9f4;
}
div.c-set tr,
div.c-set th,
div.c-set td {
  padding: 10px;
  border: 1px solid lightgray;
}

div.c-set .fndef tr:first-of-type {
  background: #f8f8f8;
}
